PORT=5000
MONGODB_URI=mongodb+srv://...
JWT_SECRET=min_32_char_secret
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@youthcamping.in
ADMIN_PASSWORD=Admin@123456
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:3000
GOOGLE_APPS_SCRIPT_URL=your_google_apps_script_web_app_url
